
* {
    margin: 0;
    padding : 0;
}


section:not([name="section-admin"]) {
    padding: 8.5rem 0;
    min-height: 100vh;
}

section[name="section-admin"] {
    padding: 5rem 0;
    min-height: 100vh;
}

@media only screen and (max-width: 896px) {

    section {
        padding: 4rem 0;
        min-height: 100vh;
    }
}

a, li, p, h2, button {
    text-decoration: none;
    font-family: 'Esteban', serif;
}

li {
    list-style: none;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

/* Palette */

    /* Color Theme Swatches in Hex */
    .Blue-Port-2019-1-hex { color: #0476D9; }
    .Blue-Port-2019-2-hex { color: #023859; }
    .Blue-Port-2019-3-hex { color: #F2B705; }
    .Blue-Port-2019-4-hex { color: #F29F05; }
    .Blue-Port-2019-5-hex { color: #F27405; }

    /* Color Theme Swatches in RGBA */
    .Blue-Port-2019-1-rgba { color: rgba(4, 117, 216, 1); }
    .Blue-Port-2019-2-rgba { color: rgba(1, 55, 89, 1); }
    .Blue-Port-2019-3-rgba { color: rgba(242, 182, 4, 1); }
    .Blue-Port-2019-4-rgba { color: rgba(242, 159, 4, 1); }
    .Blue-Port-2019-5-rgba { color: rgba(242, 115, 4, 1); }

.bg-sky {
    /* background-color: #0476D9; */
    background: #007bff;
    background: linear-gradient(to right, #0476D9, #33AEFF);
}

.bg-deep {
    background-color : #023859;
}

.bg-flash {
    background-color : #F2B705;
}

.bg-sun {
    background-color: #F29F05;
}

.bg-flame {
    background-color: #F27405;
}

.bg-white-modern {
    background: rgba(248, 249, 250, 1);
    /*
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 50%, rgba(230,230,230,1) 80%, rgba(210,210,210,1) 100%);
    */
}

/* Configuration d'un nouveau type de bouton */
    .btn-flame {
        color: #fff;
        background-color: #F27405;
        border-color: #F27405;
    }

    .btn-flame:hover {
        color: #fff;
        background-color: rgba(242, 115, 4, 0.85);
        border-color: rgba(242, 115, 4, 0.85);
    }

    .btn-flame:focus, .btn-flame.focus {
        box-shadow: 0 0 0 0.2rem rgba(242, 115, 4, 0.4);
    }

    .btn-flame.disabled, .btn-flame:disabled {
        color: #fff;
        background-color: #F27405;
        border-color: #F27405;
    }

    .btn-flame:not(:disabled):not(.disabled):active, .btn-flame:not(:disabled):not(.disabled).active,
    .show > .btn-flame.dropdown-toggle {
        color: #fff;
        background-color: rgba(242, 115, 4, 1);
        border-color: rgba(242, 115, 4, 1);
    }

    .btn-flame:not(:disabled):not(.disabled):active:focus, .btn-flame:not(:disabled):not(.disabled).active:focus,
    .show > .btn-flame.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(242, 115, 4, 0.4);
    }

.btn-xl {
    font-size: 4vh;
    padding: 0.35em 0.75em;
    border-radius: 5px;
}

@media only screen and (max-width: 992px) {
    .btn-xl {
        font-size: 3vh;
        padding: 0.2em 0.5em;
    }
}

.display-0 {
    display: none;
}

.form-custom, .form-admin {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.5);
    transition: 0.5s;
}

.form-custom {
    background-color: rgba(248, 249, 250, 1);
    background-clip: padding-box;
}

.form-custom:focus {
    border-bottom: 1px solid #F27405;
    outline: none;
}

/* Formulaire de connexion admin */

.form-admin {
    background-color: rgba(248, 249, 250, 0);
    color: snow;
}

.form-admin:focus {
     border-bottom: 1px solid snow;
     outline: none;
 }

.form-admin::placeholder {
    color: snow;
    opacity: 0.85;
}


.field-error {
    color:  #F27405;
}

.field-error-admin, .field-error-admin-match {
    color:  snow;
}

/* Couleur pour texte white */
.text-white {
    color: rgb(237,237,237);
}

/* Couleur fond modal */
.modal-content {
    background: rgba(248, 249, 250, 1);
}

/* Changement de la couleur des logos de Font Awesome */
.fa-times, .fa-angle-up, .fa-bars, .fa-arrow-left, .fa-power-off {
     color: snow;
}

/* Configuration des sections */
.section-main {
    background: url(../../assets/images/background_home/sky_background.png) no-repeat center center;
    background-size: cover;
}

/* Configuration des boutons de déclenchement de sidebar ou de redirection */
.menu-trigger, .go-back {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 3em;
    top : 1em;
    left: 1em;
    text-align: center;
    background: rgba(5,5,5,0.5);
    transition: 0.3s;
}

.shut-down {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 3em;
    top : 1em;
    right: 1em;
    text-align: center;
    background: rgba(220,53,69,0.7);
    transition: 0.3s;
}

.menu-trigger, .shut-down {
    width: 3em;
    z-index: 1500;
}

.go-back {
    width: auto;
    z-index: 1500;
}

.menu-trigger:hover, .menu-top:hover, .go-back:hover {
    text-decoration: none;
    background: rgba(5,5,5,0.9);
}

.shut-down:hover {
    text-decoration: none;
    background: rgba(220,53,69,0.9);
}

.menu-top {
    display: flex;
    position: fixed;
    width: 3em;
    height: 3em;
    bottom : 1em;
    left: 1em;
    text-align: center;
    background: rgba(5,5,5,0.5);
    transition: 0.3s;
}

.menu-bottom {
    display: flex;
    position: fixed;
    width: 3em;
    height: 3em;
    bottom : 1em;
    right: 1em;
    text-align: center;
    background: rgba(5,5,5,0.5);
    transition: 0.3s;
}


/* Configuration de la sidebar */
#sidebar {
    display: flex;
    justify-content: center;
    width: 350px;
    background: rgba(237,237,237,1);
    position: fixed;
    min-height: 100%;
    top: 0;
    left: -350px;
    transition: left 0.5s ease;
    z-index: 1;
}


#sidebar.visible-sidebar {
    left: 0px;
    transition: left 0.7s ease;
}

@media only screen and (max-width: 896px) {
    #sidebar {
        width: 100vw;
        left: -100vw;
    }
}

#sidebar ul {
    margin: 5em 1em 0 1em;
    padding: 0;
}

@media only screen and (max-width: 896px) {
    #sidebar ul {
        margin: auto 0.5em;
    }
}

#sidebar ul li {
    list-style: none;
    font-size: large;
    padding: 1.5em 0;
}

#sidebar ul li:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,.2);
}

#sidebar ul li a {
    text-decoration: none;
    color: rgba(35,35,35,1);
    transition: color 0.3s;
}

#sidebar ul li a:hover {
    text-decoration: none;
    color: rgba(242,116,5,1);
}

/* Configuration du footer */
#page-content {
    flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: none;
}

/* Titres principaux (première section) */

.main-title {
    font-size: 10vh;
    border-bottom: 2px solid rgba(237,237,237,1);
}

.main-sub-title {
    font-size: 4vh;
}


/* Titres (reste de la page) */
.title {
    font-size: 8vh;
}

.sub-title {
    font-size: 3vh;
}


@media only screen and (max-width: 896px) and (orientation: portrait) {
    .title {
        font-size: 5vh;
    }

    .sub-title {
        font-size: 2.5vh;
    }
}


/* Image de profil */

#profile-img {
    height: 50vh;
}

@media only screen and (max-width: 896px) and (orientation: portrait) {
    #profile-img {
        height: 25vh;
    }
}

.border-flame-left {
    border-left: 2px solid rgba(242, 115, 4, 1);
}

.border-flame-right {
    border-right: 2px solid rgba(242, 115, 4, 1);
}

.border-flame-bottom {
    border-bottom: 2px solid rgba(242, 115, 4, 1);
}

.border-flame-top {
    border-top: 2px solid rgba(242, 115, 4, 1);
}


@media only screen and (max-width: 1199px) {
    .border-flame-left, .border-flame-right, .border-flame-bottom, .border-flame-top {
        border: none;
    }
}

/* SLIDER ON / OFF */
    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        top: 0.35em;
        right: 0.35em;
        width: 60px;
        height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }